* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Robot;
}

.Container {
    width: 100vw;
    display: flex;
}

.Header {
    display: flex;
    background: #0C1726;
    width: 70%;
    justify-content: space-around;
}

.HeaderScondary {
    display: flex;
    width: 30%;
}

.Header__nav {
    display: flex;
    align-items: center;
}


.Header__nav--menu {
    display: flex;
    flex-direction: row;
    padding: 2rem 0rem;
    gap: 16rem;
}


.Header__nav--link {
    list-style: none;
}

.Header__nav--link:hover a {
    color: #FDFBF9;
    font-weight: 800;
}

.Header__nav--link a {
    text-decoration: none;
    color: #999CA1;
}

.Header__nav--Submenu {
    position: absolute;
    top: 8%;
    background-color: #2B4157;
    border-radius: 25px;
    display: none;
    padding: 1rem 0rem 1rem 1rem;
}

.Header__nav--Submenu.true {
    display: block;
}

.Header__nav--SubmenuB {
    padding: 0.4rem 0rem 0.4rem 1rem;
    background-color: #2B4157;
    color: #eee;
    display: none;
    list-style: none;
    font-size: 1.4rem;

}


.Header__nav--Submenu li {
    margin: 0;
    padding: 0rem 1rem 0rem 0rem;
    width: 120px;
    height: auto;
}

.menuB,
.menuC,
.menuD {
    list-style: none;
}

.menuB__link,
.menuC__link,
.menuD__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.4rem 0rem;

}

.menuB__link--icon,
.menuC__link--icon,
.menuD__link--icon {
    display: none;
}

.menuB a,
.menuC a,
.menuD a {
    color: #FDFBF9;
    font-size: 1.2rem;
    font-weight: 700;
}

.menu:hover>ul,
.menuB:hover>ul,
.menuC:hover>ul,
.menuD:hover>ul {
    display: block;
}



.menuB:hover .menuB__link--icon,
.menuC:hover .menuC__link--icon,
.menuD:hover .menuD__link--icon {
    display: block;
}

.Header__nav--bars {
    display: none;
}

.Header__nav--bars svg {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
}



@media (max-width: 1024px) {
    .Header__nav--menu {
        gap: 3rem;
    }
}

@media (max-width: 768px) {

    .Container {
        flex-direction: column;
    }

    .Header {
        width: 100%;
    }

    .HeaderScondary {
        width: 100%;
    }

    .Header__nav--menu {
        gap: 3rem;
    }
}

@media (max-width: 768px) {

    .Container {
        flex-direction: column;
    }

    .Header {
        width: 100%;
    }

    .HeaderScondary {
        display: none;
        width: 100%;
    }

    .Header__nav--menu {
        gap: 3rem;
    }
}

@media (max-width: 320px) {

    .Header {
        justify-content: flex-end;
    }

    .Header.true {
        justify-content: flex-start;
        gap: 1rem;
        height: 100vh;
    }

    .Header__nav {
        align-self: start;
    }

    .Header__nav.true {
        display: flex;
        flex-direction: column;
    }

    .Header__nav--menu {
        display: none;
    }

    .Header__nav--link {
        padding: 1.8rem;
    }

    .Header__nav--menu.true {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Header__nav--bars {
        display: block;
        padding-right: 2rem;
    }

    .Header__nav--bars svg {
        padding-left: 16rem;
    }

    .Header__nav--Submenu {
        position: absolute;
        top: 29%;
        left: 30%;
        background-color: #2B4157;
        border-radius: 25px;
        display: none;
        padding: 1rem 0rem 1rem 1rem;

    }

    .menuB a,
    .menuC a,
    .menuD a {
        font-size: 1rem;
    }


}