.ContainerMain {
    display: flex;
    flex-direction: row;
}

.Container__Banner {
    display: flex;
    flex-direction: column;
    background: #0C1726;
    width: 70%;
    color: white;
    padding: 1rem 0rem 2rem 0rem;
}

.Container__Animation {
    display: flex;
    width: 30%;
}

.Container__Content {
    padding: 0rem 0rem 0rem 6rem;
}

.Container__Content--Tittle {
    padding-top: 2rem;
    font-weight: normal;
    font-size: 5rem;
}

.Container__Content--SubTittle {
    padding: 1rem 0rem;
    font-size: 2rem;
}

.Container__Content--Paragraph {
    color: #E0E2E3;
}

.custom-btn {
    width: 10rem;
    height: 2rem;
    border-radius: 15px;
    padding: 10px 25px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.Container__Content--Button {
    margin-top: 3rem;
    background: #3C5973;
    border: none;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    font-weight: 800;
}

.Container__Content--Button svg {
    width: 1.5rem;
    height: 1.5rem;
}

.Container__Content--Button:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #547ca0;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
}

.Container__Content--Button:hover {
    color: #fff;
}

.Container__Content--Button:hover:after {
    border-radius: 15px;
    left: 0;
    width: 100%;
}

.Container__Content--Button:active {
    top: 2px;
}

@media (max-width: 768px) {

    .ContainerMain {
        display: flex;
        flex-direction: column;
    }

    .Container__Banner {
        width: 100%;
        order: 1;
    }

    .Container__Animation {
        display: flex;
        width: 100%;
        order: 0;
    }

    .Container__Content {
        padding: 0rem 0rem 0rem 1rem;
    }

    .Container__Content--Paragraph {
        padding-top: 1.5rem;
    }
}

/*      ANIMATION   */

#container {
    color: #999;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    padding: 1rem 0rem;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#flip {
    height: 50px;
    overflow: hidden;
}

#flip>div>div {
    color: #fff;
    padding: 4px 12px;
    height: 45px;
    margin-bottom: 45px;
    display: inline-block;
}

#flip div:first-child {
    animation: show 5s linear infinite;
}

#flip div div {
    background: #42c58a;
}

#flip div:first-child div {
    background: #4ec7f3;
}

#flip div:last-child div {
    background: #DC143C;
}

@keyframes show {
    0% {
        margin-top: -270px;
    }

    5% {
        margin-top: -180px;
    }

    33% {
        margin-top: -180px;
    }

    38% {
        margin-top: -90px;
    }

    66% {
        margin-top: -90px;
    }

    71% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -270px;
    }
}